<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">

  <title>XXX后台管理系统</title>
</head>
<body>
    <div class="container table-bordered">
      <!-- 头部 -->
      <%- include('./common/head.ejs') %>
      <!-- 内容 -->
      <div class="main">
        <div class="m-left">
          <%- include('./common/menu.ejs') %>
        </div>
        <div class="m-right">
          手机管理
        </div>
      </div>
      <!-- 尾部 -->
      <%- include('./common/foot.ejs') %>
    </div>;
</body>
</html>