<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>注册</title>
  </head>

  <body>
    <div class="container table-bordered marginAutoBox">
      <div class="marginAuto">
        <h1 class="logo">XX后台管理系统</h1>
        <h2 class="title">注册</h2>
        <form class="form-horizontal">
          <div class="form-group">
            <p class="p_marin">姓名:</p>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <p class="p_marin">密码:</p>
            <input type="password" class="form-control" />
          </div>
          <div class="form-group">
            <p class="p_marin">确认密码:</p>
            <input type="password" class="form-control" />
          </div>
          <div class="form-group">
            <p class="p_marin">昵称:</p>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
            <p class="p_marin">手机号:</p>
            <input type="text" class="form-control" />
          </div>
          <div class="form-group">
              <div class="radio">
                <i class="p_marin">管理员:</i>
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked />是
                </label>
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" />否
                </label>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn_margin">
              注册
            </button>
            <a class="whereGo" href="/login.html">返回登录</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
