@charset "UTF-8";
html,
body {
  height: 100%;
  background: url("/images/bg.jpg");
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.head {
  height: 60px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head .logo {
  color: #161616;
  font-weight: bold;
  padding-left: 35px;
  font-size: 24px;
  font-family: "微软雅黑";
}
.head .logo:hover {
  background: none;
  color: #0756e9;
  transition: all 0.1s;
  text-decoration: none;
}
.head .h-right {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.head .h-right .btn {
  margin-left: 10px;
}

.foot {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid lightgray;
}

.main {
  flex: 1;
  display: flex;
  height: 100%;
}

.m-left {
  width: 250px;
  height: 100%;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}
.m-left a {
  color: #1d1a22;
  font-size: 18px;
}
.m-left a:hover {
  text-decoration: none;
  color: #fff;
  background: #9999ff;
  display: block;
  transition: all 0.1s;
}
.m-left li {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid lightgray;
  text-align: center;
}

.m-right {
  flex: 1;
  padding-left: 20px;
  border-right: 1px solid lightgray;
}
